body{
    font-family: 'Merienda One', cursive;
    background-image: url('../images/fond.jpg');
}
input{
  font-size:1.5em;
}
header{
  display:flex;
  background-color: black;
  align-items: center;
}

h1{
  color:red;
  font-size:5em;
  margin-left: 3em;
}

header img{
  height: 150px;
  width:150px;
  margin-left:2em;
}

.joueur, button, a{
  display: flex;
  margin:0.5em;
  background-color: black;
  color:white;
  font-size:1.5em;
  justify-content: center;
}
h2{
  background-color: black;
  color:white;
  width:15em;
  text-align: center;
}
#mode, #blocsmilieu{
  display:flex;
  justify-content: center;
}
#blocsmilieu{
  flex-direction: column;
  align-items: center;
}
#boutonJouer{
color:white;
}

.bordure{
  width:5em;
  height: 5em;
  background-color: black;
  color:white;
}

.ligne{
  display: flex;
  justify-content: center;
}
#a1, #a2, #a4, #a5  {
  border-right: 0.5em solid red;
  border-bottom: 0.5em solid red;
}

#a3, #a6 {
  border-bottom: 0.5em solid red;
}

#a7, #a8 {
  border-right: 0.5em solid red;
}
#symboles, #nomJoueur, #nomVainqueur{
  font-size:2em;
  color:white;
  text-align: center;
  background-color: black;
}
